<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://zachwalker.dev">
      WALKZA
    </a>

    <a (click)="toggleNavBar()" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" #navBurger>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div  id="navbarBasicExample" class="navbar-menu" #navMenu>
    <div class="navbar-start">
      <a (click)="toggleNavBar()" class="navbar-item" *ngIf="isLoggedIn" routerLink="">
        Home
      </a>
      <a (click)="toggleNavBar()" class="navbar-item" *ngIf="isLoggedIn" routerLink="/customers">
        Customers
      </a>
      <a (click)="toggleNavBar()" class="navbar-item" *ngIf="isLoggedIn" routerLink="/projects">
        Projects
      </a>
      <a (click)="toggleNavBar()" class="navbar-item" *ngIf="isLoggedIn" routerLink="/tasks">
        Tasks
      </a>
  </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <p *ngIf="isLoggedIn" id="welcome">{{currentUser?.username}}</p>
        <div class="buttons">
          <a *ngIf="!isLoggedIn" class="button is-primary" (click)="toggleSignupForm()">
            <strong>Sign up</strong>
          </a>
          <a *ngIf="!isLoggedIn" class="button is-light" (click)="toggleLoginForm()">
            Log in
          </a>
          <a *ngIf="isLoggedIn" class="button is-danger" (click)="onLogOut()" routerLink="">
            Log out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div *ngIf="isLoginFormVisible" id="login-form-container">
  <form #userLogin = "ngForm" class="box" id = "login-form" (ngSubmit) = "onLogin(userLogin.value)">
    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input class="input" type="text" placeholder="e.g. iLovePizza123" name="username" ngModel>
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" placeholder="********" name="password" ngModel>
      </div>
    </div>

    <button *ngIf="!isSigningIn" class="button is-primary">Sign in</button>
    <button *ngIf="isSigningIn" class="button is-primary is-loading"></button>
    <p *ngIf="isErrorOnSignIn" id="signin-error">* Error - Please check your username and password.</p>
  </form>
</div>

<div *ngIf="isSignupFormVisible" id="signup-form-container">
  <form #userSignup = "ngForm" class="box" id="signup-form" (ngSubmit) = "onSignup(userSignup.value)">
    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input class="input" type="text" placeholder="e.g. iLovePizza123" name="username" ngModel>
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" placeholder="********" name="password" ngModel>
      </div>
    </div>

    <button *ngIf="!isCreatingAccount" class="button is-primary">Create Account</button>
    <button *ngIf="isCreatingAccount" class="button is-primary is-loading"></button>
    <p *ngIf="signUpError" id="signup-error">*{{signUpError}}</p>
  </form>
</div>

<router-outlet></router-outlet>
