<div class ="box no-padding" id ="banner-container"> 
    <img src="../assets/img/task-banner.jpeg" alt="beautiful landscape">
    <div id="banner-header-container">
      <h1 id="banner-header">WALKZA</h1>
      <p id="banner-subtitle">manage tasks beautifully.</p>
    </div>
  </div>
  <div class="content" id="fact-container">
      <h1 class="title"> Did you know?</h1>
      <div class="box is-large">
          <p>Users of Walkza are able to finish infinity times the tasks than those who do not complete tasks.</p>
      </div>
  </div>
  <div id="zach-img-border-container">
    <figure class="image" id="zach-img-container">
        <img src="../../assets/img/zachTE.jpeg" alt="smart looking software developer">
    </figure>
  </div>
  <h6 class="title is-6 text-center">Zach Walker - Inventor of Walkza</h6>
  <p class="subtitle is-6 text-center" id="brick-subtitle">standing in front of his favorite brick wall</p>
